<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="cssFile.css">
</head>
<body>
<header>
    <br>
        <h1> مكتبة الكتب القرآنية </h1>
    </br>
    <div>
     <img id="logo" src="../Pictures/logo.jpg" alt="Logo" height="158" width="150">
    </div>
</header>
<div>
<ul>
  <li><a class="active" href="Home.html"> الرئيسية </a></li>
  <li><a href="Overview.html"> عن موقعنا </a></li>
  <li><a href="Products.html"> المنتجات </a></li>
  <li><a href="Order.html"> اطلب هنا </a></li>
  <li><a href="Contact.html"> تواصل معنا </a></li>
</ul>
</div>
<br>
<br>
<br>
<div id="box1">
<div>
<form>
    <div>
    <label for="firstname">اسم المرسل</label>
    <input type="text" name="username" id="firstname">
        </div>
    <div>
    <br>
     <label for="lastname">عنوان الرسالة</label>
    <input type="text" name="text" id="lastname">
        </div>
    <br>
    <div>
    <br>
     <label for="massege">الرسالة</label>
     <textarea rows="3" cols="30" name="address" id="massege"></textarea>
        </div>
    <br> <br>
    <div>
        <input id="submit" type="submit" value="ارسال">
    </div>

</form>
</div>
</div>
<div>
    <footer>
        <p>
            جميع الحقوق محفوظة 2019
        </p>
    </footer>
</div>
</body>
</html>