<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="cssFile.css">
</head>
<body>
<header>
    <br>
        <h1> مكتبة الكتب القرآنية </h1>
    </br>
    <div>
     <img id="logo" src="../Pictures/logo.jpg" alt="Logo" height="158" width="150">
    </div>
</header>
<div>
<ul>
  <li><a class="active" href="Home.html"> الرئيسية </a></li>
  <li><a href="Overview.html"> عن موقعنا </a></li>
  <li><a href="Products.html"> المنتجات </a></li>
  <li><a href="#order"> اطلب هنا </a></li>
  <li><a href="#contact"> تواصل معنا </a></li>
</ul>
</div>
<div>
    <h1 id="home"> الصفحة الرئيسية</h1>
</div>
<div>
    <footer>
        <p>
            جميع الحقوق محفوظة 2019
        </p>
    </footer>
</div>
</body>
</html>
