<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
</head>
<link rel="stylesheet" type="text/css" href="cssFile.css">
</head>
<body>
<header>
    <br>
        <h1> مكتبة الكتب القرآنية </h1>
    </br>
    <div>
     <img id="logo" src="../Pictures/logo.jpg" alt="Logo" height="158" width="150">
    </div>

</header>
<div>
<ul>
  <li><a class="active" href="Home.html"> الرئيسية </a></li>
  <li><a href="Overview.html"> عن موقعنا </a></li>
  <li><a href="Products.html"> المنتجات </a></li>
  <li><a href="#order"> اطلب هنا </a></li>
  <li><a href="Contact.html"> تواصل معنا </a></li>
</ul>
</div>
<div>
<br>
<h2> نشاط الفكرة</h2>
</div>
<div>
    <pre>
        موقع مكتبة الكتب القرآنية هو موقع مختص
        ببيع الكتب القرآنية بمختلف أنواعها
        ككتب التجدويد والتفسير وعلوم القرآن وغيرها
        كما يتيج للمستخدم اختيار الكتاب المناسب له بكل سهولة
        هذا الموقع عبارة عن مشروع تابع للمبادرة
        السعودية للمطورين جزاهم الله خيرا
    </pre>
     <img id="about" src="../Pictures/about.png" alt="Logo" height="158" width="150">

</div>

<div>
    <footer>
        <p>
            جميع الحقوق محفوظة 2019
        </p>
    </footer>
</div>
</body>
</html>