<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="cssFile.css">
</head>
<body>
<header>
    <br>
        <h1> مكتبة الكتب القرآنية </h1>
    </br>
    <div>
     <img id="logo" src="../Pictures/logo.jpg" alt="Logo" height="158" width="150">
    </div>
</header>
<div>
<ul>
  <li><a class="active" href="Home.html"> الرئيسية </a></li>
  <li><a href="Overview.html"> عن موقعنا </a></li>
  <li><a href="Products.html"> المنتجات </a></li>
  <li><a href="Order.html"> اطلب هنا </a></li>
  <li><a href="Contact.html"> تواصل معنا </a></li>
</ul>
</div>
<div class="dropdown">
    <button class="mainmenubtn"> تصنيفات الكتب </button>
    <div class="dropdown-child">
    <a> كتب علوم القرآن </a>
    <a> كتب التفاسير </a>
    <a> كتب القراءات </a>
    </div>
</div>
<div class="row">
  <div class="column">
    <div class="content">
      <img src="../Pictures/ibnkatheer.png" alt="ابن كثير" height="250" width="200">
      <h3>تفسير القرآن العظيم لابن كثير</h3>
      <p>100 ريال</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="../Pictures/aldorr.png" alt="الدر المنثور" height="250" width="200">
      <h3>الدر المنثور في التفسير بالمأثور</h3>
      <p>40 ريال</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="../Pictures/readquraan.png" alt="كيف تقرأالقران" height="250" width="200">
      <h3>كيف تقرأالقران</h3>
      <p>25 ريال</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="../Pictures/qiraat.png" alt="الأصول النيرات" height="250" width="200">
      <h3>الأصول النيرات في القراءات</h3>
      <p>36 ريال</p>
    </div>
  </div>
    <div class="column">
    <div class="content">
    <img src="../Pictures/warsh.png" alt="القراءات" height="250" width="200">
      <h3>القراءات روايتا ورش وحفص</h3>
      <p>120 ريال</p>
    </div>
  </div>
    <div class="column">
    <div class="content">
    <img src="../Pictures/yussof.png" alt="قصة يوسف" height="250" width="200">
      <h3>قصة يوسف عليه السلام</h3>
      <p>15 ريال</p>
    </div>
  </div>
</div>
<div>
    <footer>
        <p>
            جميع الحقوق محفوظة 2019
        </p>
    </footer>
</div>
</body>
</html>